{:scalars
 {:UUID {:parse :uuid-parse :serialize :uuid-serialize}
  :NonEmptyString {:parse :non-empty-string-parse :serialize :non-empty-string-serialize}
  :Date {:parse :date-parse :serialize :date-serialize}}

 :enums
 {:OrderStateEnum {:values [:SUBMITTED :APPROVED :REJECTED :CANCELED]}
  :VisitTypeEnum {:values [:HAND_OVER :TAKE_BACK]}
  :VerificationEnum {:values [:IRRELEVANT :NONE_REQUIRED :USER :USER_AND_MODEL]}}

 :objects
 {:CurrentUser {:fields {:id {:type (non-null :UUID)}
                         :user {:type (non-null :User)}}}
  :User {:fields {:id {:type (non-null :UUID)}
                  :email {:type String}
                  :firstname {:type String}
                  :lastname {:type String}
                  :login {:type String}
                  :phone {:type String}
                  :badgeId {:type String}
                  :address {:type String}
                  :zip {:type String}
                  :city {:type String}
                  :languageLocale {:type String}
                  :img256Url {:type String}
                  :isSuspended {:type Boolean}
                  :suspendedReason {:type String}
                  :delegatorUser {:type :User}}}
  :Model {:fields {:id {:type (non-null :UUID)}
                   :name {:type String}}}
  :Reservation {:fields {:id {:type (non-null :UUID)}
                         :startDate {:type String}
                         :endDate {:type String}
                         :model {:type :Model :resolve :model}}}
  :ReservationLine {:fields {:model {:type :Model :resolve :model}
                             :quantity {:type (non-null Int)}
                             :availableQuantity {:type (non-null Int)}
                             :startDate {:type (non-null String)}
                             :endDate {:type (non-null String)}
                             :reservationIds {:type (list (non-null :UUID))}}}
  :Email {:fields {:id {:type (non-null :UUID)}
                   :createdAt {:type (non-null String)}
                   :subject {:type (non-null String)}
                   :template {:type String}}}
  :Visit {:fields {:id {:type (non-null :UUID)}
                   :date {:type (non-null String)}
                   :startDate {:type String}
                   :endDate {:type String}
                   :visitType {:type (non-null :VisitTypeEnum)}
                   :isOverdue {:type (non-null Boolean)}
                   :quantity {:type (non-null Int)}
                   :withUserToVerify {:type Boolean}
                   :withUserAndModelToVerify {:type Boolean}
                   :projectTitle {:type String}
                   :comment {:type String}
                   :reservations {:type (list (non-null :Reservation)) :resolve :reservations}
                   :reminders {:type (list (non-null :Email)) :resolve :reminders}
                   :user {:type (non-null :User) :resolve :user}}}
   :Order {:fields {:id {:type (non-null :UUID)}
                    :purpose {:type String}
                    :state {:type (non-null :OrderStateEnum)}
                    :rejectReason {:type String}
                    :toBeVerified {:type (non-null Boolean)}
                    :startDate {:type String}
                   :endDate {:type String}
                   :createdAt {:type (non-null String)}
                   :updatedAt {:type (non-null String)}
                   :user {:type (non-null :User) :resolve :user}
                   :reservations {:type (list (non-null :Reservation)) :resolve :reservations}
                   :reservationLines {:type (list (non-null :ReservationLine)) :resolve :reservation-lines}}}
  :VisitList {:fields {:items {:type (list (non-null :Visit))}
                       :totalCount {:type (non-null Int)}}}
  :OrderList {:fields {:items {:type (list (non-null :Order))}
                       :totalCount {:type (non-null Int)}}}}

 :queries
 {:currentUser {:type (non-null :CurrentUser) :resolve :current-user}
  :user {:type :User
         :args {:id {:type (non-null :UUID)}}
         :resolve :user}
  :order {:type :Order
          :args {:id {:type (non-null :UUID)}}
          :resolve :order}
  :visits {:type (non-null :VisitList)
           :args {:date {:type :Date}
                  :startDate {:type :Date}
                  :endDate {:type :Date}
                  :visitType {:type :VisitTypeEnum}
                  :term {:type String}
                  :verification {:type :VerificationEnum}
                  :page {:type Int}
                  :perPage {:type Int}}
           :resolve :visits}
   :orders {:type (non-null :OrderList)
            :args {:poolId {:type (non-null :UUID)}
                   :states {:type (list (non-null :OrderStateEnum))}
                   :startDate {:type :Date}
                   :endDate {:type :Date}
                   :term {:type String}
                   :page {:type Int}
                  :perPage {:type Int}
                  :toBeVerified {:type Boolean}}
           :resolve :orders}}

 :mutations
 {:rejectOrder {:type (non-null :Order)
                :args {:id {:type (non-null :UUID)}
                       :reason {:type (non-null :NonEmptyString)}}
                :resolve :reject-order}
  :approveOrder {:type (non-null :Order)
                 :args {:id {:type (non-null :UUID)}
                        :force {:type Boolean}
                        :comment {:type String}}
                 :resolve :approve-order}}}
